 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 //  color variables im using scss
 $primary_color: #1A1A1A;
 $primary_text_color: #F2F2F2;
 $secondary_color: #FFCC00;


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 @font-face {
     font-family: 'Bulgatti';
     src: url('../Asset/fonts/Bulgatti.ttf');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
    font-family: 'Monument Extended';
    src: url("../Asset/fonts/MonumentExtended-Ultrabold.otf");
 }

@font-face {
    font-family: 'Monument';
    src: url("../Asset/fonts/MonumentExtended-Regular.otf");
}

 body {
     background: $primary_color;
     background-position: center;

 }

 .container {
     @apply mx-auto px-4 max-w-[1440px];

     @screen sm {
         @apply px-2 w-full;
     }

     @screen md {
         @apply px-4;
     }

     @screen lg {
         @apply px-6;
     }
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 button {
     cursor: pointer;
 }

 